
			*
			{
				padding: 0;
				margin: 0;
				border: 0px;
	  		}
	  		body
	  		{
	  			background-image: url('obrazki/code.jpg');
	  			background-attachment: fixed;
	  		}
	  		a
			{
				color: #31859C;
				text-decoration: none;
			}
			a:hover
			{
				color: black;
			}
	  		#kontener0
	  		{	
	  			margin-left: 406px;
	  			position: static;
	  			font-size: 75px;
	  			font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	  			font-weight: bold;
	  			color: white;
	  			float:left;
	  			padding-left: 50px;
	  			text-shadow: 3px 3px #31859C;

	  		}
	  		
	  		#kontener1
	  		{
	  			position: static;
	  			background-image: url('obrazki/48.jpg');
	  			width: 300px;
	  			margin-left: 100px;
	  			margin-top: 50px;
	  			height: 740px;
	  			
	  			border: 3px double black;
	  			padding-top: 10px;
	  		}
	  		
	  		
	  		#gorna_czesc_kontenera1
	  		{
	  		
	  			margin-top: -300;
	  			margin-bottom: 30px;
	  			font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	  			font-weight: bold;
	  			font-size: 23px;
	  			text-shadow: 1px 1px #31859C;
	  		
	  		}
	  		#kontakt_box table
	  		{

	  			
	  			padding-left: 20px;
	  		}
	  		#kontakt_box
	  		{

	  			
	  			text-decoration: none;
	  			font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	  			font-weight: bold;
	  			font-size: 17px;
	  			line-height: 220%;
	  	
	  		}
	  		#kontener2
	  		{
	  			background-image: url('obrazki/49.jpg');
	  			width: 891px;
	  			height: 70px;
	  			border-top: 3px double black;
	  			border-right: 3px double black;
	  			border-bottom: 3px double black;
	  			margin-top: -630px;
	  			margin-left: 406px;
	  			
	  		}
	  		
	  		#kontener2 li:hover
	  		{
	  			opacity: 60%;
	  		}
	  		#menu li
	  		{
	  			list-style-type: none;
	  			float:left;
	  			padding-left:50px;
	  			padding-right:50px;
	  			opacity: 100%;
	  		}
	  		/* ZAWARTOŚĆ STRONY */
	  		#zawartosc
	  		{
	  			background-image: url('obrazki/47.jpg');
	  			width: 891px;
	  			height: 551px;
	  			margin-left: 406px;
	  			border-right: 3px double black;
	  			border-bottom: 3px double black;
	  		}
	  		#gorna_zawartosc1
	  		{
	  			text-align: justify;
	  			padding: 25px 50px;
	  			line-height: 140%;
	  			font-size: 13px;
	  		}
	  		h1
	  		{
	  			font-size: 30px;
	  			font-family: Papyrus, verdana, sans-serif;
	  			color: #31859C;
	  		}
	  		h3
			{
				margin-bottom: 15px;
				color: #0A3C72;
			}
			#gorna_zawartosc1 ul
			{
				margin: 20px;
				margin-left: 110px;
				list-style-image: url('obrazki/ol.gif');
			}
			#gorna_zawartosc1 li
			{
				margin-bottom: 5px;
			}
			

			#dolna_czesc_strony
			{
				background-image: url('obrazki/49.jpg');
	  			width: 1189px;
	  			height: 120px;
	  			border-left: 3px double black;
	  			border-right: 3px double black;
	  			border-bottom: 3px double black;
	  			margin-left: 100px;
	  			font-size: 11px;
	  			font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	  			color: #31859C;
	  			padding-left: 5px;
			}
			#dolna_czesc_strony .kl
			{
				text-align: left;
				font-size: 11px;
				font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
				color: black;
				padding:5px;
				float: right;
			}
			
/* EDU */
	
			#gorna_zawartosc_edu
			{
				padding-left: 20px;
				padding-top: 10px;
				font-size: 100%; 
			}
		
/* EDUPRO */
			#gorna_zawartosc_edupro .linki
			{
				padding-left: 50px;
				padding-top: 10px;
				font-size: 100%; 
				
			}
			
			#gorna_zawartosc_edupro .github
			{
			    float:right;
				padding: 20px;
				
			}
/* Work His */
			#gorna_zawartosc_work 
			{
				padding: 20px;
				font-size: 130%;
				
        
			
			}
			#gorna_zawartosc_work .lin
			{
				float:right;
				padding-top:50px;
				margin-right: 50px;
				
			}
			
/* SKILLS */

			#sh 
			{
				
				text-align:justify;
				padding: 10px;
				font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
				font-size: 13px;
				
			}
			#sh p
			{
				white-space:pre-wrap;
			}
			#Skillshobby
			{
				padding: 35px;
			}
			
/* O mnie */
 			#o_mnie 
 			{
 				text-align:justify;
				padding: 10px;
				font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
				font-size: 15px;
				font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
 			}
 			#o_mnie .i1
 			{
 				color: #31859C;
 				padding-top: 30px;
 			}
 			#o_mnie .i2
 			{
 				color: black;
 				padding-top: 30px;
 			}
 			#o_mnie .i3
 			{
 				color: #31859C;
 				padding-top: 60px;
 				font-size: 25px;
 				text-align:center;
 				font-style: italic;
 				font-weight:bold;
 			}
